body {
    background-color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

/* Letters */


.GLetter {
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 4em;
    animation: GLetter 5s normal forwards ease-in-out;
}

.ALetter {
    position: absolute;
    top: 15%;
    left: 44%;
    font-size: 4em;
    animation: ALetter 5s normal forwards ease-in-out;
}

.RLetter {
    position: absolute;
    top: 15%;
    left: 48%;
    font-size: 4em;
    animation: RLetter 5s normal forwards ease-in-out;
}

.VLetter {
    position: absolute;
    top: 15%;
    left: 52%;
    font-size: 4em;
    animation: VLetter 5s normal forwards ease-in-out;
}

.YLetter {
    position: absolute;
    top: 15%;
    left: 56%;
    font-size: 4em;
    animation: YLetter 5s normal forwards ease-in-out;
}

.RLetter2 {
    position: absolute;
    top: 25%;
    left: 44%;
    font-size: 4em;
    animation: RLetter2 5s normal forwards ease-in-out;
}

.ELetter {
    position: absolute;
    top: 25%;
    left: 48%;
    font-size: 4em;
    animation: ELetter 5s normal forwards ease-in-out;
}

.NLetter {
    position: absolute;
    top: 25%;
    left: 52%;
    font-size: 4em;
    animation: NLetter 5s normal forwards ease-in-out;
}

.VLetter2 {
    position: absolute;
    top: 25%;
    left: 52%;
    font-size: 4em;
    animation: VLetter2 5s normal forwards ease-in-out;
}

.CLetter {
    position: absolute;
    top: 45%;
    left: 36%;
    font-size: 4em;
    animation: CLetter 5s normal forwards ease-in-out;
}

.ALetter2 {
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 4em;
    animation: ALetter2 5s normal forwards ease-in-out;
}

.PLetter {
    position: absolute;
    top: 45%;
    left: 44%;
    font-size: 4em;
    animation: PLetter 5s normal forwards ease-in-out;
}

.ALetter3 {
    position: absolute;
    top: 45%;
    left: 48%;
    font-size: 4em;
    animation: ALetter3 5s normal forwards ease-in-out;
}

.LLetter {
    position: absolute;
    top: 45%;
    left: 52%;
    font-size: 4em;
    animation: LLetter 5s normal forwards ease-in-out;
}

.ALetter4 {
    position: absolute;
    top: 45%;
    left: 56%;
    font-size: 4em;
    animation: ALetter4 5s normal forwards ease-in-out;
}

.CLetter2 {
    position: absolute;
    top: 45%;
    left: 60%;
    font-size: 4em;
    animation: CLetter2 5s normal forwards ease-in-out;
}

/* Animation */

@keyframes GLetter {
    0%{position: absolute; top: 85%; left: 95%; font-size: 4em; transform: rotateX(240deg) rotateY(120deg);}
    100%{position: absolute; top: 15%; left: 40%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes ALetter {
    0%{position: absolute; top: 85%; left: 90%; font-size: 4em; transform: rotateX(180deg) rotateY(120deg);}
    70%{position: absolute; top: 19%; left: 35%; font-size: 4em; transform: rotateX(20deg) rotateY(140deg);}
    100%{position: absolute; top: 15%; left: 44%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes RLetter {
    0%{position: absolute; top: 85%; left: 93%; font-size: 4em; transform: rotateX(50deg) rotateY(120deg); rotate: 10deg;}
    60%{position: absolute; top: 13%; left: 46%; font-size: 4em; transform: rotateX(140deg) rotateY(80deg);}
    100%{position: absolute; top: 15%; left: 48%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes VLetter {
    0%{position: absolute; top: 85%; left: 88%; font-size: 4em; transform: rotateX(10deg) rotateY(290deg);}
    40%{position: absolute; top: 35%; left: 59%; font-size: 4em; transform: rotateX(210deg) rotateY(120deg);}
    100%{position: absolute; top: 15%; left: 52%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes YLetter {
    0%{position: absolute; top: 85%; left: 86%; font-size: 4em; transform: rotateX(140deg) rotateY(240deg);}
    40%{position: absolute; top: 24%; left: 70%; font-size: 4em; transform: rotateX(210deg) rotateY(120deg);}
    100%{position: absolute; top: 15%; left: 56%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes RLetter2 {
    0%{position: absolute; top: 85%; left: 45%; font-size: 4em; transform: rotateX(240deg) rotateZ(120deg);}
    80%{position: absolute; top: 30%; left: 35%; font-size: 4em; transform: rotateX(170deg) rotateZ(50deg);}
    100%{position: absolute; top: 25%; left: 44%; font-size: 4em; transform: rotateX(0deg) rotateZ(0deg);}
}

@keyframes ELetter {
    0%{position: absolute; top: 85%; left: 49%; font-size: 4em; transform: rotateX(240deg) rotateZ(120deg);}
    60%{position: absolute; top: 35%; left: 60%; font-size: 4em; transform: rotateX(170deg) rotateZ(50deg);}
    100%{position: absolute; top: 25%; left: 48%; font-size: 4em; transform: rotateX(0deg) rotateZ(0deg);}
}

@keyframes NLetter {
    0%{position: absolute; top: 85%; left: 49%; font-size: 4em; transform: rotateX(240deg) rotateZ(120deg); rotate: 180deg;}
    30%{position: absolute; top: 65%; left: 49%; font-size: 4em; transform: rotateX(200deg) rotateZ(120deg);}
    60%{position: absolute; top: 35%; left: 56%; font-size: 4em; transform: rotateX(160deg) rotateZ(50deg);}
    90%{position: absolute; top: 35%; left: 48%; font-size: 4em; transform: rotateX(120deg) rotateZ(50deg);}
    100%{position: absolute; top: 25%; left: 52%; font-size: 4em; transform: rotateX(0deg) rotateZ(0deg);}
}

@keyframes VLetter2 {
    0%{position: absolute; top: 85%; left: 65%; font-size: 4em; transform: rotateX(180deg) rotateY(180deg);}
    50%{position: absolute; top: 65%; left: 45%; font-size: 4em; transform: rotateX(240deg) rotateY(20deg);}
    100%{position: absolute; top: 35%; left: 48%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes CLetter {
    0%{position: absolute; top: 85%; left: 35%; font-size: 4em; transform: rotateX(360deg) rotateY(360deg); rotate: 360deg;}
    100%{position: absolute; top: 45%; left: 36%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes ALetter2 {
    0%{position: absolute; top: 85%; left: 32%; font-size: 4em; transform: rotateX(360deg) rotateY(360deg); rotate: 360deg;}
    50%{position: absolute; top: 55%; left: 44%; font-size: 4em; transform: rotateX(-120deg) rotateY(120deg);}
    100%{position: absolute; top: 45%; left: 40%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes PLetter {
    0%{position: absolute; top: 85%; left: 32%; font-size: 4em; transform: rotateX(30deg) rotateY(30deg); rotate: 360deg;}
    50%{position: absolute; top: 50%; left: 28%; font-size: 4em; transform: rotateX(40deg) rotateY(-360deg);}
    100%{position: absolute; top: 45%; left: 44%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes ALetter3 {
    0%{position: absolute; top: 85%; left: 32%; font-size: 4em; transform: rotateX(360deg) rotateY(360deg); rotate: 360deg;}
    50%{position: absolute; top: 60%; left: 52%; font-size: 4em; transform: rotateX(-120deg) rotateY(120deg);}
    100%{position: absolute; top: 45%; left: 48%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes LLetter {
    0%{position: absolute; top: 85%; left: 32%; font-size: 4em; transform: rotateX(90deg) rotateY(90deg); rotate: 90deg;}
    30%{position: absolute; top: 60%; left: 20%; font-size: 4em; transform: rotateX(-120deg) rotateY(220deg); rotate: 240deg}
    70%{position: absolute; top: 30%; left: 80%; font-size: 4em; transform: rotateX(-120deg) rotateY(220deg);}
    100%{position: absolute; top: 45%; left: 52%; font-size: 4em; transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes ALetter4 {
    0%{position: absolute; top: 85%; left: 32%; font-size: 4em; transform: rotateX(360deg) rotateZ(360deg); rotate: 100deg;}
    50%{position: absolute; top: 70%; left: 10%; font-size: 4em; transform: rotateX(175deg) rotateZ(120deg);}
    100%{position: absolute; top: 45%; left: 56%; font-size: 4em; transform: rotateX(0deg) rotateZ(0deg);}
}

@keyframes CLetter2 {
    0%{position: absolute; top: 85%; left: 32%; font-size: 4em; transform: rotateY(360deg) rotateZ(360deg); rotate: 100deg;}
    40%{position: absolute; top: 70%; left: 10%; font-size: 4em; transform: rotateY(175deg) rotateZ(120deg);}
    80%{position: absolute; top: 30%; left: 28%; font-size: 4em; transform: rotateY(-120deg) rotateZ(-240deg);}
    100%{position: absolute; top: 45%; left: 60%; font-size: 4em; transform: rotateY(0deg) rotateZ(0deg);}
}
